<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-hdd nav-icon"></i>
      <p>
        {{ _('Account') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'base:accountplan' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Plan de Cuentas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'base:account-move' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Asientos Contables</p>
        </a>
      </li>
    </ul>
</li>
