{% load static %}
{% load erp_tags %}
{% include "header.html" %}

  <!-- Header -->
   <header class="masthead" style="background-color: #1b656d">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Post</div>
        <div class="intro-lead-in">Vendemos con Amor</div>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
        <div class="row">

        <div class="col-md-12">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        </div>

      </div>
    </div>
  </section>
{% include "footer.html" %}