{% load static %}
{% load erp_tags %}
{% include "header.html" %}

  <!-- Header -->
   <header class="masthead" style="background-color: #1b656d">
    <div class="container">
      <div class="intro-text" style="height:100px; padding-top:150px;">
        <div class="intro-lead-in"><h2>{{ object.title }}</h2></div>
        <p>{{ object.created_on }}</p>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <p>{{ object.content }}</p>
        </div>

      </div>
    </div>
  </section>
{% include "footer.html" %}