{% load static %}
{% load erp_tags %}
{% include "header.html" %}

  <!-- Header -->
   <header class="masthead" style="background-color: #1b656d">
    <div class="container">
      <div class="intro-text" style="height:100px; padding-top:150px;">
        <div class="intro-heading text-uppercase">{{ _("Shop") }}</div>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">{{ _("Category") }}</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
        <div class="row">
          {% for product in object_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{% url 'home-product' product.id %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'home-product' product.id %}">{{ product.name }}</a>
                </h4>
                <h5> {% if user|currency_position == 'before' %} {{ user|currency_symbol }} {{ product.price }} {% else %} {{ product.price }} {{ user|currency_symbol }} {% endif %} </h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
              <div class="card-footer">
                    <a href="#" class="btn btn-primary float-right"><i class="fa fa-cart-plus"></i></a>
                    <small class="text-muted"><b>SKU:</b> {{ product.code }}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
    </div>
  </section>
{% include "footer.html" %}