{% extends "erp/dashboard.html" %}
{% load erp_tags %}

{% block content %}
<div class="card card-primary card-outline mt-2">
    <div class="card-header">
        <a href="{% url update_url object.pk %}" class="btn btn-success">{{ _("Edit") }}</a>
        <a href="{% url delete_url object.pk %}" class="btn btn-danger">{{ _("Delete") }}</a>
        {% for btn in buttons %}
        <a href="{{ btn.act }}" class="btn btn-{{btn.class}} float-right">{{btn.name}}</a>
        {% endfor %}
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                {% for field in fields %}
                <div class="form-group col-sm-6">
                    <div class="row">
                        <label for="{{field.field}}" class="col-3 col-form-label">{{field.string}}</label>
                        <div class="col-9">
                            <input type="text" readonly class="form-control-plaintext" id="{{field.field}}" value="{{ object|get_obj_attr:field.field }}"/> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
        <div class="row">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('.btn-danger').click(function (event) {
        event.preventDefault();
        if (confirm('{{ _("Are you sure you want to delete the form?") }}')){
            window.location = $(this)[0].href;
        }
    });
</script>
{% endblock %}

