{% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">

      <img src="{% static 'dist/favicon_white.png' %}"
           alt="PyERP"
           style="opacity: .8; margin-left: 12px;" height="30px" >
      <span style="margin-left: 12px;" class="brand-text font-weight-light"><b>Py</b>ERP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static '/default.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            {% if user.username %}
                <a href="{% url 'user-detail' user.pk %}" class="d-block">{{ user.username }}</a>
            {% endif %}
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="/erp" class="nav-link">
              <i class="fa fa-home nav-icon"></i>
              <p>{{ _('Home') }}</p>
            </a>
          </li>

          <!--

          <li class="nav-item has-treeview">
              <a href="visitors" class="nav-link">
                <i class="nav-icon fas fa-comment"></i>
                <p>Visitantes</p>
                <span class="badge badge-info right">6</span>
              </a>
            </li>


          <li class="nav-item has-treeview">
              <a href="record" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>Historial</p>
              </a>
            </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Configuración
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="profile" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Perfil</p>
                </a>
              </li>
              <li class="nav-item">
                  <a href="change_password" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cambiar Contraseña</p>
                  </a>
                </li>
              <li class="nav-item">
                  <a href="widget" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Widget</p>
                  </a>
                </li>
            </ul>
          </li>
<!-- CRM Begin -->
<li class="nav-item has-treeview" >
    <a href="#" class="nav-link">
      <i class="fa fa-tasks nav-icon"></i>
      <p>
        CRM
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="{% url 'dashboard-crm'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Tablero</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'lead'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Oportunidades</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'stage'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Etapas</p>
        </a>
      </li>
    </ul>
  </li>
<!-- CRM End -->


<!-- Ventas Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-file nav-icon"></i>
      <p>
        {{ _('Sale') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
          <a href="{% url 'sale:sale-order' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Cotización</p>
          </a>
        </li>

      <li class="nav-item">
        <a href="{% url 'partners' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Clientes</p>
        </a>
      </li>
      <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
    </ul>
  </li>
<!-- Ventas End -->


<!-- Compras Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-book nav-icon"></i>
      <p>
        {{ _('Purchase') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>

    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'provider' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Proveedores</p>
        </a>
      </li>
      <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
    </ul>

  </li>
<!-- Compras End -->


<!-- Inventario Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-cube nav-icon"></i>
      <p>
        {{ _('Inventary') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>

    <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{% url 'products' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Productos</p>
          </a>
        </li>
        <li class="nav-item">
              <a href="{% url 'product-category' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorías de Productos</p>
              </a>
        </li>

    </ul>

  </li>
<!-- Inventario End -->


<!-- Contabilidad Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-hdd nav-icon"></i>
      <p>
        {{ _('Account') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'accountplan' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Plan de Cuentas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'account-move' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Asientos Contables</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->


<!-- Punto Venta Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-desktop nav-icon"></i>
      <p>
         {{ _('POS') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'pos' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Cajas</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->


 <!-- Punto Venta Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-folder nav-icon"></i>
      <p>
        {{ _('Project') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'task' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Tareas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'project' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Proyectos</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'bug' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Errores</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Inventario End -->

<!-- RRHH Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-child nav-icon"></i>
      <p>
        {{ _('Payroll') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'employee' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Empleados</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'department' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Departamentos</p>
        </a>
      </li>
    </ul>
  </li>
<!-- RRHH End -->


<!-- Web Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-cloud nav-icon"></i>
      <p>
        Web
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'post' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Entradas</p>
        </a>
      </li>

       <li class="nav-item">
        <a href="{% url 'product-webcategory' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Categorías Web</p>
        </a>
      </li>

        <li class="nav-item">
            <a href="{% url 'website-config' 1 %}" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Configuración</p>
            </a>
        </li>

    </ul>
  </li>
<!-- Web End -->


<!-- Web Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-comments nav-icon"></i>
      <p>
        {{ _('Chat') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'chat-home' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Chat</p>
        </a>
      </li>

       <li class="nav-item">
        <a href="{% url 'triggers' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Triggers</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Web End -->


 <!-- Web Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-binoculars nav-icon"></i>
      <p>
        {{ _('Marketing') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'channel' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Canales de Venta</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'campaign' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Campañas</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'mform' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Formularios</p>
        </a>
      </li>
    </ul>
  </li>
<!-- Web End -->



<!-- Configuracion Begin -->
          <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fa fa-microchip nav-icon"></i>
                <p>
                  {{ _('Apps') }}
                    <i class="fas fa-angle-left right"></i>
                    <span class="badge badge-info right">2</span>
                </p>
              </a>
              <ul class="nav nav-treeview">

                <li class="nav-item">
                  <a href="{% url 'apps' %}" class="nav-link">
                    <i class="fa fa-users nav-icon"></i>
                    <p>{{ _('Apps') }}</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'update-app' %}" class="nav-link">
                    <i class="fa fa-users nav-icon"></i>
                    <p>{{ _('Update') }}</p>
                  </a>
                </li>

              </ul>
            </li>
<!-- Configuracion End -->



<!-- Configuracion Begin -->
          <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="fa fa-cogs nav-icon"></i>
                <p>
                  {{ _('Configuration') }}
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'users' %}" class="nav-link">
                    <i class="fa fa-users nav-icon"></i>
                    <p>Usuarios</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'companies' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Compañias</p>
                  </a>
                </li>



                <li class="nav-item">
                    <a href="{% url 'base-config' 1 %}" class="nav-link">
                      <i class="fa fa-cog nav-icon"></i>
                      <p>General</p>
                    </a>
                  </li>

                <li class="nav-item">
                  <a href="{% url 'logs' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Log</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'crons' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>Cron</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="{% url 'countries' %}" class="nav-link">
                    <i class="fa fa-building nav-icon"></i>
                    <p>{{ _('Countries') }}</p>
                  </a>
                </li>


                  <li class="nav-item">
                    <a href="{% url 'load-data' %}" class="nav-link">
                      <i class="fa fa-database nav-icon"></i>
                      <p>Cargar Datos Iniciales</p>
                    </a>
                  </li>

              </ul>

            </li>
<!-- Configuracion End -->

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>