{% extends 'erp/dashboard.html' %}
{% load staticfiles %}
{% block content %}
<section class="content">
  <div style="margin-top: 20px;"></div>
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
                  <!-- App -->
                  <div class="col-md-3">
                        <div class="info-box">
                          <span style="width: 120px;" class="info-box-icon bg-info elevation-1"><i class="fas fa-home"></i></span>
                                  <div class="info-box-content">
                                    <span class="info-box-text">Name App</span>
                                    <span class="info-box-number">
                                      By Ynext
                                    </span>
                                      <span class="info-box-text">This Apps ..</span>
                                      <button class="btn btn-danger float-right" >Install</button>
                                  </div>
                        </div>
                  </div>
                  <!-- endApp -->

                <!-- App -->
                  <div class="col-md-3">
                        <div class="info-box">
                          <span style="width: 120px;" class="info-box-icon bg-danger elevation-1"><i class="fas fa-cog nav-icon"></i></span>
                                  <div class="info-box-content">
                                    <span class="info-box-text">Base</span>
                                    <span class="info-box-number">
                                      By PyERP
                                    </span>
                                      <span class="info-box-text">Apps Base</span>
                                      <button class="btn float-right" disabled >{{ _('Internal') }}</button>
                                  </div>
                        </div>
                  </div>
                  <!-- endApp -->
          </div>
      </div>
  </section>
{% endblock %}