{% extends 'erp/dashboard.html' %}
{% load staticfiles %}
{% block content %}
<section class="content">
  <div style="margin-top: 20px;"></div>
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
                  <!-- App -->
            {% for app in object_list %}
                  <div class="col-md-3">
                        <div class="info-box card-primary">
                          <span style="width: 120px;" class="info-box-icon bg-info elevation-1"><i class="fas fa-home"></i></span>
                                  <div class="info-box-content">
                                    <span class="info-box-text">{{ app.name }}</span>
                                    <span class="info-box-number">
                                      {{ app.author }}
                                    </span>
                                      <span class="info-box-text">{{ app.description }}</span>
                                      {% if app.installed %}
                                      <button class="btn btn-danger float-right ml-1" >Uninstall</button>
                                      {% else %}
                                      <button class="btn btn-danger float-right ml-1" >Install</button>
                                      {% endif %}
                                      <button class="btn btn-primary float-right" ><i class="fa fa-eye"></i></button>
                                  </div>
                        </div>
                  </div>
                  <!-- endApp -->
            {% endfor %}


          </div>
      </div>
  </section>
{% endblock %}