<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-binoculars nav-icon"></i>
      <p>
        x {{ _('Marketing') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'channel' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Canales de Venta</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'campaign' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Campañas</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'mform' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Formularios</p>
        </a>
      </li>
    </ul>
  </li>
